*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
.main{
	height:100vh;
	width:100vw;
	background-color:black;
	position:relative;
}
#btn{
	position:absolute;
	top:150px;
	height:90px;
	width:90px;
	border-radius:50%;
	left:580px;
	
}
#output{
	position:absolute;
	top:150px;
	left:45%;
	height:400px;
	width:300px;
	background-color:#ffff0fe8;
	border-radius:10px;
	font-size:1.5em;
	outline:none;
	border:2px solid black;
	box-shadow:10px 10px 10px red;
	text-shadow:1px 1px 0px black;
	
}
i{
	color:black;
	font-size:3.5em;
}
h1{
	font-family: "Lobster", sans-serif;
	color:white;
	font-size:5em;
	position:absolute;
	margin:200px 80px;
	letter-spacing:20px;
	text-shadow:20px 20px 10px yellow;
	
}