*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
.main{
	height:100vh;
	width:100vw;
	border:1px solid;
	overflow:hidden;
	
}
.video-container{
	height:100%;
	width:100%;
	border:40px solid black;
	
}                      
.video-container video{
	height:100%;
	width:100%;
	object-fit:cover;
	z-index:-1;
	
}
.content{
	position:absolute;
	height:100%;
	width:100%;
	overflow:hidden;
	top:0px;
	left:0px;
	align-content:center;
}
h1{
	margin-bottom:100px;
	color:white;
	font-size:4em;
	font-family:Lucida Console;
	letter-spacing:5px;
	text-shadow:15px 15px 10px black,0px 0px 20px gray,0px 0px 30px black,0px 0px 40px black;
}
.fa-solid {
	
	color:white;
	font-size:3.5em;
	
	
}

.btncolor3{
	background-color:#00d0ff8f;
	height:100%;
	
	top:0px;
	width:50%;
	position:absolute;
	border-radius:25px;
	left:50%;
	z-index:1;
	transition:all 1s;
}
.btncolor1{
	position:absolute;
	left:60px;
	top:0px;
	margin-left:10px;
}
.btncolor2{
	position:absolute;
	right:60px;
	top:0px;
	margin-left:10px;
}

button{
	cursor:pointer;
	background-color:rgba(0,0,0,0.2);
	height:50px;
	width:300px;
	position:relative;
	border:1px solid black;
	border-radius:25px;
	
	
}
.switch{
	background-color:#00d0ff8f;
	height:100%;
	
	top:0px;
	width:50%;
	position:absolute;
	border-radius:25px;
	left:0%;
	z-index:1;
	transition:all 1s;
}
.loader video{
	
	height:100%;
	width:100%;
	object-fit:cover;
	
	
	
}
.closeloader{
	
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.5);
		position:absolute;
	left:0px;
	top:0px;
	z-index:-100;
}
.loader{
	
	height:100%;
	width:100%;
	background-color:transparent;
		position:absolute;
	left:0px;
	top:0px;
	z-index:100;
}